{% load i18n %}
<div>
{% if rows %}
<a name="{{ table_key }}"></a>
<table class="" id="table-{{ table_key }}">
    <thead>
        <tr class="headers">
            {% for row in columns %}
                {% if row.column %}
                    <th><a href="?sort_{{ table_key }}_{{ row.column }}={% if row.asc %}desc{% else %}asc{% endif %}#{{ table_key }}">{{ row.name }}</a></th>
                {% else %}
                    <th>{{ row.name }}</th>
                {% endif %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr class="content {% cycle 'odd' 'even' %}">
            {{ row|safe }}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="notice">{% blocktrans %}No results found.{% endblocktrans %}</p>
{% endif %}
</div>

